<p><strong>Reward:</strong></p>

<ul>
    @foreach (var item in Reward.Items)
    {
        <li>@EnumNames.GetName(item.Resource): @item.Minimum - @item.Maximum (@FormatChance(item))</li>
    }
</ul>

@code {
    [Parameter] public required RandomReward Reward { get; set; }

    private string FormatChance(RandomRewardItem rewardItem)
    {
        return $"{(rewardItem.Chance * 100):N2}%";
    }
}
