<p><strong>Resources:</strong></p>
<ul class="resources-warehouse">
    @foreach (var (resId, resource) in Warehouse.AllResources)
    {
        <li>@ResourceNames.GetName(resId): @resource.Amount.FormatAsMoney() @if(resource.Storage is not null) { @($" / {resource.Storage?.FormatAsMoney()}") }</li>
    }
</ul>

@code {
    [Parameter] public required ResourceWarehouse Warehouse { get; set; }
}
