@if (!Resources.IsEmpty)
{
<p><strong>@Header:</strong></p>

<ul>
    @foreach (var (id, amnt) in Resources.AllResources)
    {
        <li>@EnumNames.GetName(id): @amnt.FormatAsMoney()</li>
    }
</ul>
}

@code {
    [Parameter] public required SimplePrice Resources { get; set; }
    [Parameter] public required string Header { get; set; }
}
