<button class="btn" @onclick="BuyMethod" disabled=@(!Engine.CanBuy(Buyable))>@BuyText</button>

@code {
    [Inject] public required GameEngine Engine { get; set; }
    [Parameter] public required ICanBeBuyable Buyable { get; set; }
    [Parameter] public required string BuyText { get; set; }
    [Parameter] public required Action<object?> BuyMethod { get; set; }
}
