<div class="selectButton" @onclick="@(e => SelectBranch(Branch))">
    <p>@Text</p>
</div>

@code {
    [Inject] protected GameEngine Engine { get; set; } = default!;
    [Parameter] public Branch Branch { get; init; }
    [Parameter] public required string Text { get; init; }

    private void SelectBranch(Branch branch)
    {
        Engine.State.SelectedBranch = Branch;
    }
}
