@using IncrementalSheep.Components.Buttons
@using IncrementalSheep.Components.ResourceComponents

<h2>@(Building?.Name ?? "Please select a building")</h2>

<p>@Building?.Description</p>

@if (Building is not null) {
    <ResourceList Header="Production per second" Resources=@Building.ProductionPerSecond />
}

@if (Building is not null && Building.IsBuyable)
{
    <ResourceList Header="Price" Resources=@Building.Price />

    <BuyButton Buyable=@Building BuyMethod=@Buy BuyText="Build" />
}

@code {
    [Inject] public required GameEngine Engine { get; set; }

    [Parameter] public Building? Building { get; set; }

    private void Buy(object? sender)
    {
        if (Building is not null)
        {
            Engine.TryBuy(Building);
        }
    }
}
