<h2>@(Building?.Name ?? "Please select a building")</h2>

<p>@Building?.Description</p>

<p><strong>Price: @Building?.Price.FormatAsMoney() $</strong></p>

<button class="btn" @onclick="Buy">Buy</button>

@code {
    [Inject] public GameEngine Engine { get; set; }

    [Parameter] public Building? Building { get; set; }

    private void Buy(object? sender)
    {
        if (Building is not null)
        {
            Engine.TryBuy(Building);
        }
    }
}
