<h2>@(Building?.Name ?? "Please select a building")</h2>

<p>@Building?.Description</p>

@if (Building is not null) {
    <ResourceList Header="Production per second" Resources=@Building.ProductionPerSecond />

    <ResourceList Header="Price" Resources=@Building.Price />
}

<button class="btn" @onclick="Buy">Buy</button>

@code {
    [Inject] public GameEngine Engine { get; set; }

    [Parameter] public Building? Building { get; set; }

    private void Buy(object? sender)
    {
        if (Building is not null)
        {
            Engine.TryBuy(Building);
        }
    }
}
