@using IncrementalSheep.Components.Buttons
@using IncrementalSheep.Components.ResourceComponents

<h2>@(Hunt?.Name ?? "Please select a hunt")</h2>

<p>@Hunt?.Description</p>

@if (Hunt is not null) {
    <ResourceList Header="Price" Resources=@Hunt.Price />

    <RequirementsList Header="Requirements" Requirements=@Hunt.Requirements />

    <ResourceList Header="Rewards" Resources=@Hunt.Reward />

    <BuyButton Buyable=@Hunt BuyMethod=@RunHunt BuyText="Hunt" />
}

@code {
    [Inject] protected GameEngine Engine { get; set; } = default!;
    [Parameter] public Hunt? Hunt { get; set; }

    private void RunHunt(object? sender)
    {
        if (Hunt is not null)
        {
            Engine.TryHunt(Hunt);
        }
    }
}
