<div class="selectButton" @onclick="@(() => SelectHunt(Hunt.Id))">
    <p>@Hunt.Name @(Hunt.TimeLeft != TimeSpan.Zero ? $"({Hunt.TimeLeft.ToString(@"mm\:ss")})" : string.Empty)</p>
</div>

@code {
    [Inject] protected GameEngine Engine { get; set; } = default!;
    [Parameter] public required Hunt Hunt { get; set; }

    private void SelectHunt(HuntId huntId)
    {
        Engine.State.SelectedHunt = Engine.State.Hunts.Single(h => h.Id == huntId);
    }
}
