<h4>Message log:</h4>
<ul>
    @foreach (var msg in Messages.AllItems())
    {
        <li>@msg</li>
    }
</ul>

@code {
    [Parameter] public required CircularBuffer<string> Messages { get; set; }
}
