<h4>Message log:</h4>
<ul>
    @for (var i = 0; i < Messages.Length; i++)
    {
        <li>@Messages[(i + FirstMessageIndex) % Messages.Length]</li>
    }
</ul>

@code {
    [Parameter] public required string[] Messages { get; set; }
    [Parameter] public int FirstMessageIndex { get; set; }
}
