<div class="selectButton newSheepButton @AvailabilityClass" @onclick=@(() => Engine.State.SelectedSheep = null)>
    <p>Recruit new sheep</p>
</div>

@code
{
    [Inject] protected GameEngine Engine { get; set; } = default!;

    public string AvailabilityClass =>
        Engine.CanAffordNewSheep() ? "available" : "unavailable";
}
