<div class="selectButton newSheepButton" @onclick=@(() => Engine.State.SelectedSheep = null)>
    <p>Recruit new sheep</p>
</div>

@code
{
    [Inject] public GameEngine Engine { get; set; }
    public ResourceValue Price => Engine.NewSheepPrice;
}
