<div class="selectButton newSheepButton" @onclick=@(() => Engine.State.SelectedSheep = null)>
    <p>Recruit new sheep</p>
</div>

@code
{
    [Inject] protected GameEngine Engine { get; set; } = default!;

    public SimplePrice Price => Engine.NewSheepPrice;
}
