<p><strong>@Header:</strong></p>

<ul>
    @foreach (var resource in Resources.AllResources)
    {
        <li>@resource.Key: @resource.Value.FormatAsMoney()</li>
    }
</ul>

@code {
    [Parameter] public ResourceValue Resources { get; set; }
    [Parameter] public string Header { get; set; }
}
