@using IncrementalSheep.Components.ResourceComponents

<h2>@(Sheep?.Name ?? "Please select a sheep")</h2>

<p>@Sheep?.Job.Name</p>

@if (Sheep is not null) {
    <p>@Sheep.Job.Description</p>

    <ResourceList Header="Production per second" Resources=@Sheep.Job.ProductionPerSecond />

    @foreach (var job in Engine.State.Jobs)
    {
        <div class="selectButton" @onclick="@(() => Engine.SwitchJobs(Sheep, job))">
            <p>@job.Name</p>
        </div>
    }
}

@code {
    [Inject] public GameEngine Engine { get; set; }
    [Parameter] public Sheep? Sheep { get; set; }
}
