<div class="selectButton" @onclick="@(e => SelectStructure(Structure.Id))">
    <p>@Structure.Name (@Structure.NumberBuilt)</p>
</div>

@code {
    [Inject] protected GameEngine Engine { get; set; } = default!;
    [Parameter] public required Structure Structure { get; set; }

    private void SelectStructure(GameObjectId structureId)
    {
        Engine.State.SelectedStructure = Engine.State.Structures.Single(b => b.Id == structureId);
    }
}
